
// COLORS
$color-white: #F3F3F3;
$color-balck: #000000;

$color-balck-triangle: rgb(20, 20, 20);

$color-grey-cover-top: #d8d7d7;
$color-light-grey-cover:#e9e9e9;
$color-dark-grey-triangle-cover: rgb(85,84,84);
$color-light-grey-main:rgba(238, 238, 238, 0.897);


//GRID